.table_holder{
    width: 45%;
    margin-top: 15px;
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);*/
    border: 2px solid rgb(204, 204, 204);
    border-radius: 15px;
}

.table_header{
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.thead-default tr th,td {
    text-align: center;
}

.mg-tp-5{
    margin-top: 5px;
}

.table-subheader{
    width: 100%;
    text-align: center;
}

.black-txt{
    color: black !important;    
    font-weight: bold;
}

.txt-cen {
    padding-left: 10px;
}

.wd-18-inline{
    width: 18px;
    display: inline-block;
}

.txt-align-lt{
    text-align: left;
}

@media only screen and (max-width: 765px) {
    .table_holder{
        width: 100%;
        border: 0px;
        border-bottom: 2px solid rgb(204, 204, 204);
        border-radius: 0px;
    } 

    .wd-m tr th {
        width: 12%;
    }

    .row-header{
        width: 14%;
        font-size: 11px;
    }

    .font-12-m tr th, .font-12-m{
        font-size: 12px;
    }

    .font-11-m{
        font-size: 11px;
    }

    .person-table > thead > tr > th {
        width: 30px;
    }

    .person-table > tbody > tr > td {
        padding: 7px;
    }

    .userActiveTable tbody tr th,td{
        font-size: 11px;
    }
    .userActiveTable thead tr .pd-0-lr{
        padding: 8px 0px 8px 0px;
    }
}