.withdraw_container {
    margin: 20px 0px;
}

.identity_input {
    margin-left: 20px;
    width: 250px;
    display: inline-block;
}

.detail_holder{
    display: inline-block;
}

.half_window{
    width: 48%;
    float: left;
    margin-top: 10px;
}

.clr-both {
    clear: both; 
}

.width-350{
    width: 350px !important;
}

.warning_title{

}

.warning_name {
    font-size: 18px;
    color: #00aef9;
}

.modal-body{
    text-align: center;
}

.grad1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #b5e3ea; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #b5e3ea); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(whitered, #b5e3ea); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #b5e3ea); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #b5e3ea); /* Standard syntax */
}

.grad2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: #f5cdcd; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #f5cdcd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(whitered, #f5cdcd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #f5cdcd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #f5cdcd); /* Standard syntax */
}