.withdraw_container {
}

.identity_input {
    margin-left: 20px;
    width: 250px;
    display: inline-block;
    margin-top: 6px;
}

.detail_holder{
    display: inline-block;
    margin-left: 20px;
}

.half_window{
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.clr-both {
    clear: both; 
}

.width-350{
    width: 350px !important;
}

.warning_title{

}

.warning_name {
    font-size: 18px;
    color: #00aef9;
}

.align-center{
    text-align: center;
}

.grad1 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: rgba(181,227,234,0.25); /* For browsers that do not support gradients */
    padding-top: 20px;
}

.grad2 {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: rgba(245,205,205,0.25); /* For browsers that do not support gradients */
    padding-top: 20px;
}

.bg_opa{
    background: rgba(0, 0, 0, 0.1);
    height: 70px;
}

@media only screen and (max-width: 678px) {
    .bg_opa{
        background: rgba(0, 0, 0, 0.1);
        height: 140px;
    }

    .sm-mg-75 { margin-left: 75px; }
}