<div  ng-controller="homeCtrl">
  <div class="table_holder" ng-hide="isDetails">
    <div class="table_header">
      สถานภาพกำลังพล
    </div>
    <div class="table-subheader">
      ประจำวันที่ {{currentDate}}
    </div>
    <table class="table table-striped">
      <thead class="thead-default wd-m font-12-m">
        <tr>
          <th></th>
          <th>ร้อย สสก.</th>
          <th>ร้อย สสช.</th>
          <th>ร้อย 1</th>
          <th>ร้อย 2</th>
          <th>ร้อย 3</th>
          <th>รวมยอด</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="amount in companyNumberList">
          <th class="font-12-m txt-cen" scope="row" ng-click="detailsOnClicked($index)">
            
            <span class="wd-30-inline">{{amount.TitleName}} </span>
            <span class="glyphicon glyphicon-search" aria-hidden="true" ng-show="$index == 2"></span>
          </th>
          <td>{{amount.CompanyAssist}}</td>
          <td>{{amount.CompanySupport}}</td>
          <td>{{amount.Company1}}</td>
          <td>{{amount.Company2}}</td>
          <td>{{amount.Company3}}</td>
          <td>{{amount.GrandTotal}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div ng-show="isDetails">
    <button class="btn btn-primary mg-tp-5" type="button" ng-click="exitDetails();">Back</button>
    <div class="table_holder">
    <div class="table_header">
      {{DetailsHeaderName}}
    </div>
    <div class="table-subheader">
      วันที่ {{currentDate}}
    </div>
    <table class="table table-striped">
      <thead class="thead-default font-11-m">
        <tr>
          <th></th>
          <th>ร้อย สสก.</th>
          <th>ร้อย สสช.</th>
          <th>ร้อย 1</th>
          <th>ร้อย 2</th>
          <th>ร้อย 3</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="amount in StatusList" ng-class="{'black-txt': amount.ContributeTitle == 'คงเหลือ'||
         amount.ContributeTitle == 'ยอดเดิม' || amount.ContributeTitle == 'ยอดจำหน่าย'}">
          <th class="row-header" scope="row">{{amount.ContributeTitle}}</th>
          <td>{{amount.CompanyAssist}}</td>
          <td>{{amount.CompanySupport}}</td>
          <td>{{amount.Company1}}</td>
          <td>{{amount.Company2}}</td>
          <td>{{amount.Company3}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

  <div ng-show="isAdmin && !isDetails">
    <div class="table_holder">
    <div class="table_header">
      รายชื่อผู้ใช้งานล่าสุด
    </div>
    <!--<div class="table-subheader">
      วันที่ {{currentDate}}
    </div>-->
    <table class="table table-striped userActiveTable">
      <thead class="thead-default font-11-m">
        <tr>
          <th class="col-md-4 pd-0-lr">ชื่อ</th>
          <th class="col-md-2">กองร้อย</th>
          <th class="col-md-4">วันเวลา</th>
          <th class="col-md-1 pd-0-lr">จำนวน</th>
        </tr>
      </thead>
      <tbody >
        <tr ng-repeat="activeUser in res.LastActive">
          <td class="txt-align-lt">{{activeUser.PersonalName}}</td>
          <td>{{activeUser.Company}}</td>
          <td>{{activeUser.DateTime}}</td>
          <td>{{activeUser.ActiveCounter}}</td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  
</div>