<div ng-controller="returnCtrl" class="grad2">
    <div  class="withdraw_container clr-both" ng-repeat="withdraw in withdrawList">
        <div class="half_window">
            <input type="text" ng-model="withdraw.weapon" focus-on-show class="form-control identity_input" placeholder="กรอกหมายเลขประจำอาวุธ" 
            ng-enter="WeaponSubmit(withdraw)" ng-show="withdraw.isWeaponInput"/>
            
            <div class="detail_holder" ng-show="withdraw.isWeaponShow">
                <div class="personal_card_img ft-lt">
                    <img class="w-h-100per img-circle" fallback-src="personal_image/person.png" ng-src="{{withdraw.itemImage}}">
                </div>
                <div class="width-350 personal_details_card ft-lt">
                    <span> <b> {{withdraw.WeaponType}}({{withdraw.WeaponNumber}}) </b> {{withdraw.WeaponCompany}} 
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="onEdit(withdraw,'WEAPON')"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="half_window">
            <input type="text" ng-model="withdraw.iden" focus-on-show class="form-control identity_input" placeholder="กรอกหมายเลขประจำตัวประชาชน" 
            ng-enter="IndentitySubmit(withdraw)"  ng-show="withdraw.isIdentityInput" />
            <div class="detail_holder" ng-show="withdraw.isIdentityShow">
                <div class="personal_card_img ft-lt">
                    <img class="w-h-100per img-circle" fallback-src="personal_image/person.png" ng-src="{{withdraw.userImage}}">
                </div>
                <div class="width-350 personal_details_card ft-lt">
                    <span> <b> {{withdraw.TitleName}} {{withdraw.FirstName }} {{withdraw.LastName}} </b> ({{withdraw.Company}}) 
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="onEdit(withdraw,'IDENTITY')"></span></span>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="ReturnWarningModalTemplate.html">
  <div class="modal-header">
      <h3 class="txt-red">รายละเอียดเพิ่มเติม</h3>
  </div>
  <div class="modal-body">
    <span class="warning_title">
        อาวุธหมายนี้ถูกเบิกออกโดย <span class="warning_name">{{obj.PersonalName}}</span> 
        <div>
            และจะส่งคืนโดย <span class="warning_name">{{obj.res.TitleName}} {{obj.res.FirstName}} {{obj.res.LastName}}</span>
        </div>
    </span>
    <span> {{weaponObj.WeaponType}} </span>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="button" ng-click="save()">ตกลง</button>
  </div>
</script>